apiVersion: apps/v1
kind: Deployment
metadata:
  name: 2048-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: game-2048
  template:
    metadata:
      labels:
        app: game-2048
    spec:
      containers:
      - name: game-2048
        image: 466787509250.dkr.ecr.ap-south-1.amazonaws.com/2048-game:latest
